#profile {
    border-radius: 50%;
    height: 40%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#profile2 {
    border-radius: 50%;
    height: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.text {
    color: white;
    text-align: center;
    line-height: 125%;
}

#line {
    width: 145px;
    border: 1px solid white;
}

.resume {
    text-align: center;
    display: block;
    margin: auto;
    width: 25%;
}

.social-button {
    border-radius: 30%;
    margin-left: 10px;
    margin-right: 10px;
    position: relative;
}

.card {
    height: 85%;
    width: 20%;
    background-color: white;
    margin-left: 2%;
    margin-right: 2%;
    border-radius: 15px;
}

.card_pic {
    width: 90%;
    margin-top: 5%;
    margin-left: 5%;
}

.course {
    height: 8%;
    width: 70%;
    background-color: #111111;
    margin-left: 50%;
    transform: translate(-50%, 0%);
    border-radius: 15px;
    border-left: solid white 8px;
    border-bottom: solid white 2px;
    border-top: solid white 2px;
    border-right: solid white 2px;
    margin-top: 20px;
    transition: background-color 0.4s, border-left 0.4s, border-bottom 0.4s, border-top 0.4s, border-right 0.4s;
}

.course:hover {
    height: 8%;
    width: 70%;
    background-color: white;
    margin-left: 50%;
    transform: translate(-50%, 0%);
    border-radius: 15px;
    border-left: solid mediumpurple 8px;
    border-bottom: solid mediumpurple 2px;
    border-top: solid mediumpurple 2px;
    border-right: solid mediumpurple 2px;
    margin-top: 20px;
}

.course_title {
    color: white;
    text-align: center;
    position: relative;
    top: 50%;
    transform: translate(0%, -50%);
    pointer-events: none;
}

.course:hover .course_title {
    color: black;
    font-size: larger;
    text-align: center;
    position: relative;
    top: 50%;
    transform: translate(0%, -50%);
    pointer-events: none;
    margin-left: 5%;
    margin-right: 5%;
}

.project_github {
    width: 85%;
    border-radius: 5px 30px 5px 30px;
    align-self: center;
    position: absolute;
    bottom: 4%;
}

#email:link {
    text-decoration: none;
    color: mediumpurple;
}
  
#email:hover {
    text-decoration: none;
}

li {
    margin-bottom: 20px;
}