#profile {
    border-radius: 50%;
    height: 40%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#profile2 {
    border-radius: 50%;
    height: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.text {
    color: white;
    text-align: center;
    line-height: 125%;
}

#line {
    width: 145px;
    border: 1px solid white;
}

.resume {
    text-align: center;
    display: block;
    margin: auto;
    width: 25%;
}

.social-button {
    border-radius: 30%;
    margin-left: 10px;
    margin-right: 10px;
    position: relative;
}

.card {
    height: 60%;
    width: 20%;
    background-color: white;
    margin-left: 2%;
    margin-right: 2%;
}

.card_pic {
    width: 90%;
    margin-top: 5%;
    margin-left: 5%;
}

.project_github {
    width: 85%;
    border-radius: 5px 30px 5px 30px;
    align-self: center;
    position: absolute;
    bottom: 4%;
}